<div class="main_body card">
  <article class="event_box">
    <div class="event_post">
      <h4 class="event-title"><a
          class="link"
          href="/api/event/{{id}}"
        >{{event_title}}</a></h4>
      <div class="event-body">
        <p class="event-content">
          Location:
          {{event_location}}
          <br />
          Description:
          {{event_description}}
        </p>
        <span class="event-content">Items</span>
        {{#each items as |item|}}
          <div class="item_list">
            <div class="card-text item-text">
              {{item.item_name}}
            </div>
            <div class="item-author">
              -{{item.user.username}}
            </div>
          </div>
        {{/each}}

        <p class="event-guest">
          Created by
          <span class="event-username">{{user.username}}</span>
          on
          {{format_date createdAt}}

        </p>
      </div>
    </div>
  </article>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
      <button type="submit" class="mt-3 submit-btn" data-id={{id}}>
        <!-- Add path after edit rout file -->
        <a class="link" href="/api/item/{{id}}">+ new item</a>
      </button>
    </div>

  </div>
</div>
<script src="../public/js/add-item.js"></script>